* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  body {
    height: 100vh;
    background-color: rgba(156, 105, 195, 0.944);
  }
  body:hover{
    background-color: rgb(221, 179, 251);
    transform: rotate(-2em);
    transform: inherit;
    transition: 3s;
  }
  h4{
      font-family:@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
      padding: 28px;
      font-weight: 900;
  }
  h4:hover {
    color: #c4c4f7b2; 
    text-shadow: 0 0 10px #1e1545, 0 0 4px #0a0717, 0 0 4px #100c24; 
    transform: inherit;
    transition: 1s;
}
  .wrapper {
    width: 90%;
    max-width: 34.37em;
    max-height: 90vh;
    background-color: #634892;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 2em;
    border-radius: 1em;
    border-color:#fcfcfc00;
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  #spinbutton {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 18%;
    width: 18%;
    border-radius: 50%;
    cursor:grabbing;
    border: 0;
    background:#202020;
    color: #ceabee9f;
    text-transform:inherit;
    font-size: 1.6em;
    letter-spacing: 0.05em;
    font-weight: 600;
  }
  img {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -8%;
  }
  #final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #21032c;
    font-weight: 500;
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      font-size: 12px;
    }
    img {
      right: -5%;
    }
  }